#
# Pi-Photobooth  Copyright (C) 2024  Corentin SORIANO
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#

[Unit]
Description=Chromium Kiosk Mode
After=graphical.target photobooth-backend.service

[Service]
User=pi
Environment=XAUTHORITY=/home/pi/.Xauthority
Environment=DISPLAY=:0
ExecStart=/bin/bash -c 'while ! /usr/bin/nc -z localhost 5000 -w1; do echo "Waiting for backend..."; /usr/bin/sleep 1; done; /bin/rm -rf /home/pi/.config/chromium/ && /usr/bin/chromium-browser --kiosk http://127.0.0.1:5000/'
Restart=always
RestartSec=30

[Install]
WantedBy=graphical.target
