[Unit]
Description=Photobooth server
After=network.target

[Service]
ExecStart=/opt/Pi-Photobooth/main.py
WorkingDirectory=/opt/Pi-Photobooth
SyslogIdentifier=photobooth
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
