[Unit]
Description=Chromium Kiosk Mode
After=graphical.target photobooth-backend.service

[Service]
User=pi
Environment=XAUTHORITY=/home/pi/.Xauthority
Environment=DISPLAY=:0
ExecStart=/bin/bash -c '/bin/rm -rf /home/pi/.config/chromium/ && /usr/bin/chromium-browser --kiosk http://127.0.0.1:5000/'
Restart=always
RestartSec=30

[Install]
WantedBy=graphical.target
